*
{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background image set */
    height: 100vh;
    background: url(../img/loginbackground-img.jpg) no-repeat center;
    background-size: cover
    /* background-image: url(../img/loginbackground-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */    
}

/* body::before
{
    content: "";
    position: absolute; z-index: 1;
    top: 0; left: 0; right: 0; bottom: 0;
} */

.main-container
{
    width: 400px;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, .87);
    border-radius: 20px;
    box-shadow: 5px 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

section h1
{
    font-size: 65px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    z-index: 0;
}

section form{width: 100%;}

section form .int-area
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section form div input
{
    width: 75%;
    padding: 15px;
    margin: 10px;
    background-color: transparent;
    outline: none;
    border:1px solid #fff;
    border-radius: 15px;
    font-size: 16px; color: #fff;
    box-sizing: border-box;
    transition: 0.25s;
}

input::placeholder
{
    color: #fff;
    opacity: 0.7;
}

input:hover
{
    cursor: pointer;
    border: 3px solid #83e24c;
}

.btn-submit
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-submit button
{
    width: 75%;
    height: 100%;
    padding: 10px;
    background: #0066ff;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    margin: 2px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-submit button:hover
{
    background-color: rgb(183, 183, 255);
}

section form .user-help
{
    color: rgb(187, 187, 187);
}