@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&family=Shizuru&display=swap');

*
{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 219, 139);
    /* height: 100vh; */
}

.top-header
{
    width: 100%;
    height: 60px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing:border-box ;
}

.navbar
{
    margin: 2px;
    margin-left: 15%;
    margin-right: 15%;
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    /* margin: 2px; */
    background-color: rgba(255, 255, 255, 0.9);
}

body header nav a
{
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Roboto Mono', monospace;
}

.main-container
{
    width: 350px;
    height: 450px;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, .78);
    border-radius: 20px;
    box-shadow: 5px 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
}

section h1
{
    font-size: 65px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    z-index: 0;
}

section form{width: 100%;}

section form .int-area
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section form div input
{
    width: 75%;
    padding: 15px;
    margin: 10px;
    background-color: transparent;
    outline: none;
    border:1px solid #fff;
    border-radius: 15px;
    font-size: 16px; color: #fff;
    box-sizing: border-box;
    transition: 0.25s;
    rotate: 0.001em;;
}

input::placeholder
{
    color: #fff;
    opacity: 0.7;
}

input:hover
{
    cursor: pointer;
    border: 3px solid #83e24c;
}

input:focus
{
    width: 90%;
    font-size: 21px;
    border: 6px solid rgb(198, 211, 84);
}

.btn-submit
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-submit button
{
    width: 75%;
    height: 100%;
    padding: 10px;
    background: #0066ff;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    margin: 2px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.25s;
}

.btn-submit button:hover
{
    background-color: rgb(183, 183, 255);
}

section form .user-help
{
    color: rgb(187, 187, 187);
}